
<div class="page-wrapper">

  <div class="bg-green-top">
      <div class="layout-header">
    <div class="layout-header-line1 flex justify-center items-end ">
        <img class="ligue-logo" src="assets/images/Ligue1-Logo2.png" alt="">
        <span>LIGUE 1</span>
        </div>
    <div class="layout-header-line2">Calendrier des matchs</div>
    <div *ngIf="phases[selectedPhaseIndex]" class="layout-header-line3">Saison {{ phases[selectedPhaseIndex].start | date: 'yyyy' }} - {{ phases[selectedPhaseIndex].end | date: 'yyyy' }}</div>
  </div>
  </div>

  <div class="bg-white-band"></div>

  <div class="page-content">
    <div class="main-card min-h-[100px]">



      <div class="flex justify-center gap-4 mb-6 position-relative ">


<div *ngIf="loading" class="custom-spinner-overlay">
  <div class="custom-spinner"></div>
</div>




        <button
          *ngFor="let phase of phases; let i = index"
          pButton
          style="font-weight: 700; font-size: 20px"
          [class.active-phase]="selectedPhaseIndex === i"
          [class.inactive-phase]="selectedPhaseIndex !== i"
          (click)="selectedPhaseIndex = i"
        >
          <!-- {{ phase.name }} ({{ phase.start | date: 'dd/MM/yyyy' }} au {{ phase.end | date: 'dd/MM/yyyy' }}) -->
            {{ phase.name }} ({{ phase?.start | date: 'dd/MM/yyyy' }} au {{ phase.end | date: 'dd/MM/yyyy' }})
        </button>
      </div>

<div *ngIf="phases[selectedPhaseIndex] as phase">
  <p-carousel
    [value]="phase.matchdays"
    [numVisible]="3"
    [numScroll]="3"
    [circular]="true"
    [responsiveOptions]="[
      { breakpoint: '1024px', numVisible: 2, numScroll: 2 },
      { breakpoint: '600px', numVisible: 1, numScroll: 1 }
    ]"
    class="custom-carousel"
  >
    <ng-template pTemplate="item" let-day>
      <div class="saison bg-white p-2 mx-2 min-h-[300px]">
        <span class="text-lg font-semibold text-green-700 text-center match-day-title">
          {{ day.label }}
        </span>

        <div class="divide-y divide-gray-200  pb-2 match-day-content">
          <ng-container *ngFor="let group of day.groupedMatchesByDate">
               <div class="flex justify-between items-center match-day-header px-2 py-1">
      <span class="text-green-800 font-semibold text-[12px] capitalize">
        {{ group.date | date: 'EEEE d MMMM y' }}
      </span>
      <span class="text-green-800 font-semibold text-[12px]">
        {{ group.matches[0].time }}
      </span>
    </div>
            <div *ngFor="let match of group.matches" class="py-1">
 <div class="flex justify-between items-center font-semibold text-black text-[13px] px-2">
          <span>
            {{ match.team1 }} <span class="font-normal text-[9px]">VS</span> {{ match.team2 }}
          </span>
          <span class="text-gray-600 text-[11px] text-right">
          {{ match.stadium }}
        </span>
        </div>

            </div>
          </ng-container>
        </div>
      </div>
    </ng-template>
  </p-carousel>
</div>

    </div>
      <div class="flex justify-center gap-4 mt-6" *ngIf="!loading">
          <button [disabled]="exportingPdf" (click)="exportCalendarToPdf()" routerLinkActive="router-link-active"  class="btn-pdf" >

        <i *ngIf="exportingPdf" class="pi pi-spin pi-spinner"></i>

            Exporter en format PDF</button>
          <button class="btn-excel" (click)="exportAsExcel(phases[selectedPhaseIndex])">Exporter en format Excel</button>
        </div>
  </div>
</div>

<!-- <app-export-match
  [phase]="phases[selectedPhaseIndex]"
  #calendarExport
  style="position: absolute; left: -9999px; top: -9999px;"
></app-export-match> -->
