<body>

    <div class="div1">
        <div class="div1_1">
            <img src="assets/images/Ligue1.png"> 
            <div style="height: 70px;padding-top: 28px; ">LIGUE 1</div>
            
        </div>
        <div class="div1_2">Calendrier des matchs</div>
        <div class="div1_3">Saisons 2025-2026</div>
    </div>

    <div class="container">


        <div class="card">
            <div class="card_title">Journee1</div>
            <div class="card_infos">
                
                <div class="card_infos_head">
                    <p>Vendredi</p>
                    <span>15H30</span>
                </div>

                <div class="card_infos_details">
                    <p>AS SONABEL VS SALITAS </p>
                    <span>Stade municipal ouaga</span>
                </div>

                <div class="card_infos_separateur"></div>
            </div>

            <div class="card_infos">
                
                <div class="card_infos_head">
                    <p>Vendredi</p>
                    <span>15H30</span>
                </div>

                <div class="card_infos_details">
                    <p>AS SONABEL VS SALITAS </p>
                    <span>Stade municipal ouaga</span>
                </div>

                <div class="card_infos_separateur"></div>
            </div>


            <div class="card_infos">
                
                <div class="card_infos_head">
                    <p>Vendredi</p>
                    <span>15H30</span>
                </div>

                <div class="card_infos_details">
                    <p>AS SONABEL VS SALITAS </p>
                    <span>Stade municipal ouaga</span>
                </div>

                <div class="card_infos_separateur"></div>
            </div>
            
        </div>



        <div class="card">
            <div class="card_title">Journee1</div>
            <div class="card_infos">
                
                <div class="card_infos_head">
                    <p>Vendredi</p>
                    <span>07/07/2025</span>
                </div>

                <div class="card_infos_details">
                    <p>AS SONABEL <span style="font-size: 11px; color: green;">VS</span> SALITAS </p>
                    <span>Stade municipal ouaga</span>
                </div>

                <div class="card_infos_separateur"></div>
            </div>

            <div class="card_infos">
                
                <div class="card_infos_head">
                    <p>Vendredi</p>
                    <span>15H30</span>
                </div>

                <div class="card_infos_details">
                    <p>AS SONABEL VS SALITAS </p>
                    <span>Stade municipal ouaga</span>
                </div>

                <div class="card_infos_separateur"></div>
            </div>


            <div class="card_infos">
                
                <div class="card_infos_head">
                    <p>Vendredi</p>
                    <span>15H30</span>
                </div>

                <div class="card_infos_details">
                    <p>AS SONABEL VS SALITAS </p>
                    <span>Stade municipal ouaga</span>
                </div>

                <div class="card_infos_separateur"></div>
            </div>
        </div>


        <div class="card">
            <div class="card_title">Journee1</div>
            <div class="card_infos">
                
                <div class="card_infos_head">
                    <p>Vendredi</p>
                    <span>15H30</span>
                </div>

                <div class="card_infos_details">
                    <p>AS SONABEL VS SALITAS </p>
                    <span>Stade municipal ouaga</span>
                </div>

                <div class="card_infos_separateur"></div>
            </div>

            <div class="card_infos">
                
                <div class="card_infos_head">
                    <p>Vendredi</p>
                    <span>15H30</span>
                </div>

                <div class="card_infos_details">
                    <p>AS SONABEL VS SALITAS </p>
                    <span>Stade municipal ouaga</span>
                </div>

                <div class="card_infos_separateur"></div>
            </div>


            <div class="card_infos">
                
                <div class="card_infos_head">
                    <p>Vendredi</p>
                    <span>15H30</span>
                </div>

                <div class="card_infos_details">
                    <p>AS SONABEL VS SALITAS </p>
                    <span>Stade municipal ouaga</span>
                </div>

                <div class="card_infos_separateur"></div>
            </div>
        </div>

        


        <div class="card">
            <div class="card_title">Journee1</div>
            <div class="card_infos">
                
                <div class="card_infos_head">
                    <p>Vendredi</p>
                    <span>15H30</span>
                </div>

                <div class="card_infos_details">
                    <p>AS SONABEL VS SALITAS </p>
                    <span>Stade municipal ouaga</span>
                </div>

                <div class="card_infos_separateur"></div>
            </div>

            <div class="card_infos">
                
                <div class="card_infos_head">
                    <p>Vendredi</p>
                    <span>15H30</span>
                </div>

                <div class="card_infos_details">
                    <p>AS SONABEL VS SALITAS </p>
                    <span>Stade municipal ouaga</span>
                </div>

                <div class="card_infos_separateur"></div>
            </div>


            <div class="card_infos">
                
                <div class="card_infos_head">
                    <p>Vendredi</p>
                    <span>15H30</span>
                </div>

                <div class="card_infos_details">
                    <p>AS SONABEL VS SALITAS </p>
                    <span>Stade municipal ouaga</span>
                </div>

                <div class="card_infos_separateur"></div>
            </div>
        </div>



    </div>
</body>

