

<p-confirmDialog></p-confirmDialog>
<p-toast></p-toast>


<div class="saisons-container">

  <!-- Header -->
  <div class="header">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap" rel="stylesheet">
    <h1>Saisons</h1>
    <button class="btn-primary" (click)="addSeason()">
      <i class="pi pi-plus-circle mr-2"></i> Ajouter saison
    </button>
  </div>

  <!-- Search -->
  <div class="search-container">
    <input
      type="text"
      class="search-input"
      [(ngModel)]="searchTerm"
      placeholder="Rechercher par nom de saison..."
    >
  </div>

  <!-- Loading -->
  <div *ngIf="loading" class="loading">
    Chargement des saisons...
  </div>

  <!-- Table -->
  <div *ngIf="!loading && filteredSaisons.length > 0" class="table-container">
    <table class="saisons-table">
      <thead>
        <tr>
          <th>Saison</th>
     <!--      <th>Ligue</th> -->
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let saison of filteredSaisons">
          <td class="saison-nom">
             {{getParsedDate(saison?.start_date) | date: 'yyyy' }} - {{ getParsedDate(saison?.end_date) | date: 'yyyy' }}
          </td>
        <!--   <td class="saison-nom">{{ saison?.league?.name }}</td> -->
          <td class="actions">
            <div class="btn-group">
             <!--  <button class="btn btn-danger" *ngIf="!saison?.calendar_generated"
                (click)="genererCalendrier(saison)">
                <i class="me-2 my-1 pi pi-calendar-plus"></i>
                <span>Générer</span>
              </button> -->
<!--               <button class="btn btn-info" *ngIf="saison?.calendar_generated"
                (click)="voirMatchs(saison)">
                <i class="me-2 my-1 pi pi-eye"></i>
                <span>Voir</span>
              </button> -->
              <button class="btn btn-info"
                (click)="voirCalendrier(saison)">
                <i class="me-2 my-1 pi pi-eye"></i>
                <span>Voir</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- No results -->
  <div *ngIf="!loading && searchTerm && filteredSaisons.length === 0" class="no-results">
    <div class="icon">🔍</div>
    <p>Aucune saison trouvée pour "{{ searchTerm }}"</p>
  </div>

</div>







    <p-dialog
[draggable]="false" [(visible)]="displayDialog" [style]="{ width: '1000px' }" header="Créer une saison" [modal]="true">

        <ng-template #content><form [formGroup]="seasonForm">
        <div class="flex flex-col gap-5">
            <!-- Champs principaux -->
            <div class="grid grid-cols-2 gap-4">
          <!--   <div>
                <label class="font-bold mb-1 block">Nom</label>
                <input pInputText formControlName="nom" class="w-full" />
            </div> -->
            <div>
                <label class="font-bold mb-1 block">Ligue</label>
                <p-select [options]="ligues" optionLabel="name" formControlName="ligue" class="w-full" placeholder="Sélectionner une ligue" />
            </div>
            </div>

            <!-- Contraintes Dépliables -->
    <!-- <p-panel header="Contraintes de calendrier" [collapsed]="true" [toggleable]="true" class="mt-2"> -->

        <div class="grid grid-cols-2 gap-4">


                <div>
                    <label class="font-bold block mb-1">Matchs maxsss/mois</label>
                    <p-inputnumber formControlName="max_matches_per_month" class="w-full" />
                </div>
                <div>
                    <label class="font-bold block mb-1">Jours min entre matchs</label>
                    <p-inputNumber formControlName="min_days_between_matches" class="w-full" />
                </div>
                <div>
                    <label class="font-bold block mb-1">Déplacements max/mois</label>
                    <p-inputnumber formControlName="max_travels_per_month" class="w-full" />
                </div>
                <div>
                    <label class="font-bold block mb-1">Distance max (km)</label>
                    <p-inputnumber formControlName="max_distance_km" class="w-full" />
                </div>
                <div>
                    <label class="font-bold block mb-1">Matchs max/jour</label>
                    <p-inputnumber formControlName="max_matches_per_day" class="w-full" />
                </div>
                <div class="col-span-2">
                    <label class="font-bold block mb-1">Jours autorisés</label>
                    <p-multiselect
                    formControlName="allowed_days"
                    [options]="jours"
                    optionLabel="label"
                    optionValue="value"
                    placeholder="Sélectionner les jours"
                    display="chip"
                    class="w-full"
                    />
                </div>
                <div class="flex items-center gap-2 col-span-1">
                    <p-checkbox formControlName="geo_grouping" binary="true" inputId="geo" />
                    <label for="geo">Regrouper géographiquement</label>
                </div>
                <div class="flex items-center gap-2 col-span-1">
                    <p-checkbox formControlName="must_play_in_home_stadium" binary="true" inputId="home" />
                    <label for="home">Jouer à domicile obligatoirement</label>
                </div>
                </div>


                <div class="mt-5">
                <div class="flex justify-between items-center mb-1">
                    <label class="font-bold">Répartition par saisons</label>
                    <p-button label="Ajouter une ville" icon="pi pi-plus" (click)="addVille()" size="small" text />
                </div>
                <div formArrayName="cities" class="flex flex-col gap-3">
    <p-card
        *ngFor="let city of cities.controls; let i = index"
        [formGroupName]="i"
        class="w-full p-3">

        <div class="grid grid-cols-5 gap-3 items-center w-full">
        <p-select
            [options]="villes"
            optionLabel="name"
            formControlName="id"
            placeholder="Ville"
            class="w-full col-span-2"
        />
        <p-inputnumber
            formControlName="count"
            placeholder="Nb"
            class="w-full col-span-2"
        />
        <button
            pButton
            icon="pi pi-trash"
            (click)="removeVille(i)"
            class="p-button-rounded p-button-text p-button-danger w-full col-span-1"
            type="button">
        </button>
        </div>

    </p-card>
    </div>

                </div>
  <!--   </p-panel> -->
        </div></form>
        </ng-template>

        <ng-template #footer>
        <p-button label="Annuler" icon="pi pi-times" text (click)="displayDialog = false"  />
        <p-button label="Créer" icon="pi pi-check" (click)="submitSaison()" [disabled]="seasonForm.invalid" />
        </ng-template>

    </p-dialog>

