/* You can add global styles to this file, and also import other style files */
@use './tailwind.css';
@use './assets/layout/layout.scss';
@use 'primeicons/primeicons.css';
@use './assets/demo/demo.scss';



body {
  font-family: 'Lato', sans-serif;
}


:root {
    --surface-hover: #004d40; /* nouvelle couleur au survol */
     --primary-color:rgb(50, 145, 87) !important;
    --p-button-primary-background: rgb(50, 145, 87) !important;
    --p-button-primary-border-color: rgb(50, 145, 87) !important;
    --highlight-bg: #e7fffb !important;
    --highlight-text-color: #004d40 !important;


}

.layout-menu ul a.active-route {
    font-weight: 700;
    color: #c73e3e;
    background-color: #e7fffb;
}



